body {
  background-color: rgb(153, 104, 31);
  justify-content: center;
  align-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.result {
  background-color: #a2c988;
  color: white;
  width: 300px;
  height: 97px;
}
.button {
  background-color: #1d2816;
  border: solid 1px silver;
  height: 95px;
  width: 98px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .opp {
  background-color: #c0e9b9;
  color: white;
  display: flex;
  height: 95px;
  width: 100px;
  align-items: center;
  justify-content: center;
} */
